<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="footer">
    <div class="footer-copyright text-center py-3">© 2021 Copyright
    </div>
  </div>
  
</footer>